<!DOCTYPE html>
<html>
  <head>
    <title>Home page</title>
    <link
      href="https://fonts.googleapis.com/css?family=DM Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>

    
  </head>
  <body>
    <section class="header_section">
      <header>
        

        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
                <!-- Utilizing ml-auto class -->
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{url_for('working')}}"
                    >Working</a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle active"
                    
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Dataset
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a
                      class="dropdown-item"
                      id="air_pollution_YearList"
                      href = "{{ url_for('air_dataset_yearlist') }}"
                      >Air</a
                    >
                    <a class="dropdown-item"   id="waterDataSetYearList" href="{{ url_for('water_dataset_yearlist') }}"
                      >Water</a
                    >
                    <a class="dropdown-item"   id="noiseDataSetYearList" href="{{ url_for('noise_dataset_yearlist') }}"
                      >Noise</a
                    >
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle active"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Analysis
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="air_pollution_analysis" href="{{ url_for('data_analysis', type = 'air') }}">Air</a>
                    <a class="dropdown-item" id="water_pollution_analysis" href="{{ url_for('data_analysis', type = 'water') }}"
                      >Water</a
                    >
                    <a class="dropdown-item" id="noise_pollution_analysis" href="{{ url_for('data_analysis', type = 'noise') }}"
                      >Noise</a
                    >
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{{url_for('AboutUs')}}">About Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    </section>

    <section class="project_title_section" style="padding: 8px; margin-right: 8px;">
      <img src="{{ url_for('static', filename='air.png') }}" alt="Image 1" />
      <img src="{{ url_for('static', filename='noise.png') }}" alt="Image 2" />
      <img src="{{ url_for('static', filename='water.png') }}" alt="Image 3" />
      <div>
        <p class="project_title">
          PREDICTION OF AIR, WATER AND NOISE POLLUTION<br />
          USING MACHINE LEARNING TECHNIQUES :<br />
          A COMPARATIVE ANALYSIS
        </p>
      </div>
    </section>

    
</body>
</html>
