<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=DM Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/airDataSetYearList.css') }}">
    <script src="{{ url_for('static', filename='js/airDataSetYearList.js') }}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <style>
        #bt{
            padding: 10px;
        }
    </style>
  </head>
  <body>
    <section class="header_section">
      <header>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
               
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="Home"
                    aria-current="page"
                    href="{{url_for('home')}}"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{url_for('working')}}"
                    >Working</a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle active"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Dataset
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a
                      class="dropdown-item"
                      id="air_pollution_YearList"
                      href="{{ url_for('air_dataset_yearlist') }}"
                      >Air</a
                    >
                    <a class="dropdown-item" id="water_pollution" href="{{ url_for('water_dataset_yearlist') }}"
                      >Water</a
                    >
                    <a class="dropdown-item" id="noise_pollution" href="{{ url_for('noise_dataset_yearlist') }}"
                      >Noise</a
                    >
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle active"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Analysis
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="air_pollution" href="{{ url_for('data_analysis', type = 'air') }}">Air</a>
                    <a class="dropdown-item" id="water_pollution" href="{{ url_for('data_analysis', type = 'water') }}"
                      >Water</a
                    >
                    <a class="dropdown-item" id="noise_pollution" href="{{ url_for('data_analysis', type = 'noise') }}"
                      >Noise</a
                    >
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{{url_for('AboutUs')}}">About Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    </section>

    <div class="container">
        <div class="dropdown dropend" id="bt">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
             Comparison Across Locations
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{url_for('comparisonsAcrossLocations', pollutant='SO2')}}">SO2</a></li>
            <li><a class="dropdown-item" href="{{url_for('comparisonsAcrossLocations', pollutant='NO2')}}">NO2</a></li>
            <li><a class="dropdown-item" href="{{url_for('comparisonsAcrossLocations', pollutant='PM10')}}">PM10</a></li>
          </ul>
        </div>

        <div class="dropdown dropend" id="bt">
            <a  class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton1" aria-expanded="false" href="{{url_for('distributionOfPollutionLevels')}}">
                Distribution of Pollution levels
            </a>
        </div>

        <div class="dropdown dropend" id="bt">
          <a  class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton1" aria-expanded="false" href="{{url_for('outLierDetectionOfAir')}}">
               Outlier Detection
          </a>
        </div>

        <div class="dropdown dropend" id="bt">
            <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton1" aria-expanded="false" href="{{url_for('interActiveDashBoard')}}">
               Interactive DasBoard
            </a>
        </div>
    </div>
    
  </body>
</html>