<!DOCTYPE html>
<html>
  <head>
    <title>Home page</title>
    <link
      href="https://fonts.googleapis.com/css?family=DM Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <!-- <script src="{{ url_for('static', filename='js/home.js') }}"></script> -->

</head>
  <body>
    <section class="header_section">
      <header>
        <!-- <div class="header_navigation_container1">
                    <button class="nav_button1" onclick="">Home</button>
                </div>
                <div class="header_navigation_container2">
                    <div class="dropdown">
                        <button class="nav_button2 dropbtn" onclick="toggleDropdown()">Pollution <i class="fa fa-caret-down" id="caretIcon"></i></button>
                        <div class="dropdown-content">
                            <a href="#" id="air_pollution">Air Pollution</a>
                            <a href="#" id="water_pollution">Water Pollution</a>
                            <a href="#" id="noise_pollution">Noise Pollution</a>
                        </div>
                    </div>
                </div> -->
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                      
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Working</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dataset 
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" id="air_pollution" href="#">Air</a> 
                                <a class="dropdown-item" id="water_pollution" href="#">Water</a>
                                <a class="dropdown-item" id="noise_pollution" href="#">Noise</a>
                            </div>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" href="#">Analysis</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" href="#">About Us</a>
                          </li>
                      </div>
                    </div>
                  </nav> -->

        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
                <!-- Utilizing ml-auto class -->
                <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="Home"
                      aria-current="page"
                      href="{{url_for('home')}}"
                      >Home</a
                    >
                  </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{url_for('working')}}"
                    >Working</a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle active"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Dataset
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a
                      class="dropdown-item"
                      id="air_pollution_YearList"
                      href="{{ url_for('air_dataset_yearlist') }}"
                      >Air</a
                    >
                    <a class="dropdown-item"   id="waterDataSetYearList" href="{{ url_for('water_dataset_yearlist') }}"
                      >Water</a
                    >
                    <a class="dropdown-item"   id="noiseDataSetYearList" href= "{{ url_for('noise_dataset_yearlist') }}"
                      >Noise</a
                    >
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle active"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Analysis
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="air_pollution_analysis" href="{{ url_for('data_analysis', type = 'air') }}">Air</a>
                    <a class="dropdown-item" id="water_pollution_analysis" href="{{ url_for('data_analysis', type = 'water') }}"
                      >Water</a
                    >
                    <a class="dropdown-item" id="noise_pollution_analysis" href="{{ url_for('data_analysis', type = 'noise') }}"
                      >Noise</a
                    >
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{{url_for('AboutUs')}}">About Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    </section>

    <section class="project_details_section">
      <div class="project_details_section_container">
        <h2>Problem Statement</h2>
        <p>
          Develop an integrated system for pollution analysis in India,
          consolidating dispersed air, water, and noise pollution data. Utilize
          machine learning models to predict and compare pollution levels at
          state and city levels, addressing the current fragmented approach and
          enhancing nationwide understanding and management strategies.
        </p>
      </div>
      <div class="project_details_section_container">
        <h2>Introduction</h2>
        <p>
          This project delves into the critical issue of air, water, and noise
          pollution's detrimental effects on human health and ecosystems,
          emphasizing the importance of understanding, analyzing, and predicting
          pollution levels for effective interventions. By employing advanced
          machine learning algorithms like Random Forest, SVM, KNN, Decision
          Trees, and Multi-Linear Regression, the study aims to predict
          pollution levels and identify areas needing immediate attention. These
          algorithms utilize diverse mechanisms to offer accurate predictions
          and insights into pollution patterns, empowering stakeholders to
          implement targeted interventions and guide policies for a cleaner,
          healthier environment and improved public health outcomes.
        </p>
      </div>
      <div class="project_details_section_container">
        <h2>Objectives</h2>
        <div class="objective_container clearfix">
          <div class="objective_item" id="objective_item1">
            <h3>To Analyze</h3>
            <p class="objective_paragraph">
              Conduct a comprehensive analysis of air, water and noise pollution
              data in India
            </p>
          </div>
          <div class="objective_item" id="objective_item2">
            <h3>To Predict</h3>
            <p class="objective_paragraph">
              Implement machine learning models for the prediction of air, water
              and noise pollution
            </p>
          </div>
          <div class="objective_item" id="objective_item3">
            <h3>To Compare</h3>
            <p class="objective_paragraph">
              Evaluate and compare the performance of different machine learning
              models
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="system_architecture_section">
      <h2 class="system_architecture_section_heading">System Architecture</h2>
      <br><br>
      <img src="{{ url_for('static', filename='system_architecture.png') }}" />

    </section>
    <!--
        <section class="footer_section">

        </section>
-->

</body>
</html>
